langchain~=0.3.25
langchain_groq~=0.3.2
langchain_huggingface~=0.2.0
langchain_community~=0.3.24
python-dotenv~=1.1.0
chromadb~=1.0.12
chroma-hnswlib~=0.7.6
sentence-transformers~=4.1.0
torch~=2.9.1
transformers==5.3.0
docx2txt==0.8
python-docx==1.2.0
pandas==3.0.1
pytesseract==0.3.13
pillow==12.1.1
PyMuPDF==1.27.2.2
python-pptx==1.0.2
numpy==2.4.3
scipy==1.17.1